.years {
  font-size: 200px;
  font-weight: 700;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: max-content;
}
.start {
  transition: --start var(--circle-transition, 1s);
  counter-reset: start var(--start);
  color: var(--secondary-color);
  margin-right: 1ch;
}
.start::after {
  content: counter(start);
}

.end {
  transition: --end var(--circle-transition, 1s);
  counter-reset: end var(--end);
  color: var(--accent-color);
}

.end::after {
  content: counter(end);
}

@media (max-width: 520px) {
  .years {
    font-size: 56px;
    position: initial;
    margin: 0;
    padding-block: 56px;

    border-bottom: 1px solid var(--grey);
  }
}
