.wrapper {
  animation: fade ease-in 1000ms;
  animation-fill-mode: both;
}
.swiper {
  padding-inline: 78px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 20px;
}

.slide span {
  width: 320px;
}

.title {
  font-size: 25px;
  color: hsl(219, 84%, 58%);
  font-family: 'Bebas Neue', sans-serif;
}

@media (max-width: 520px) {
  .swiper {
    padding-top: 20px;
    padding-inline: 0;
    padding-bottom: 78px;
    height: 215px;
  }

  .slide {
    width: 166px !important;
    margin-right: 25px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .slide span {
    width: 166px;
  }

  .title {
    font-size: 16px;
  }
}
